@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-800 text-gray-50 m-2 font-sans;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-lg font-bold;
  }
  input {
    @apply text-gray-900 bg-gray-50;
  }
  select {
    @apply text-gray-900;
  }
}

@layer components {
  .form-input {
    @apply px-2 py-1 rounded-lg;
  }
  .form-select {
    @apply py-1 rounded-lg disabled:bg-gray-300 disabled:text-gray-700;
  }
  .toggle-switch {
    @apply w-12 h-6 inline-block relative;
  }
  .toggle-switch input {
    @apply w-0 h-0 opacity-0;
  }
  .slider {
    @apply bg-gray-300 absolute top-0 right-0 bottom-0 left-0  transition-colors duration-500 cursor-pointer;
    border-radius: 35px;
  }
  .slider::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    bottom: 2px;
    left: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  .toggle-switch input:checked + .slider {
    @apply bg-mint;
  }
  .toggle-switch input:checked + .slider::before {
    transform: translateX(24px);
  }
  input:checked ~ .radio {
    @apply text-white bg-mint;
  }
  .round-rest:disabled::before {
    content: '';
    position: absolute;
    background-color: rgba(64, 64, 64, 0.5);
    @apply h-24 sm:h-12 w-11/12 sm:w-full sm:left-0;
  }
}
